body{
     background-image : url("https://target.scene7.com/is/image/Target/GUEST_c330a409-85aa-4ba5-b35a-e24e2dd1a746?wid=488&hei=488&fmt=pjpeg");
     background-size :  cover;
     background-color : tan;
 }
 p.headline{
     color : red;
     text-align : center;
     background-color : white;
 }
